body {
    margin: 0;
}


@font-face {

    font-family: antonio;
    
    src: url(../fonts/Antonio-VariableFont_wght.ttf);
    
}

.sticky {
    position: sticky;
}

.nomargin {
    margin: 0;
}
/* texto centrado */
.textcen {
    text-align: center;
}

/* border radius 50% */
.b50per {
    border-radius: 50%;
}

/* enlaces sin boton */
.cWhite {
    color: white;
    font-family: antonio;
    text-decoration: none;
}

.cWhite:active {
    color: #5995ce;
}

/* texto azul atherite */
.cblue {
    font-family: antonio;
    font-size: 3em;
    color: #5995ce;
}

/* cambia el fondo a gris */
.cgrey {
    background-color: rgb(38, 38, 41);
}

/* aplica padding de 20px */
.p20px {
    padding: 20px;
}

.p10px {
    padding: 10px;
}

.p5px {
    padding: 5px;
}

/* aplica paddin 0*/
.p0px{
    padding: 0;
}

/*quita los puntos a los elementos de una lista*/
.nolistdec{
    list-style: none;
}

/*coloca los elemento intentando alejarlos lo maximo posible*/
.opposite {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

.oppositecol {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

}

/*posiciona los elementos en linea con una separacion de 20px*/
.flexl{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.flexlgap5px{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
}

.flexlnowrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.flexsolo {
    display: flex;
}

.felxcen {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* gap 20px */
.g20px {
    gap: 20px;
}

.g10px {
    gap: 10px;
}

.g5px {
    gap: 5px;
} 

/* flex warp */
.wrap {
    flex-wrap: wrap;
}

/* flex centrado */
.justaligcen {
    justify-content: left;
    align-items: center;
}


/* decoracion para la barra de busqueda */
.searchbutdec {
    background-color: #5995ce;
    color: white;
    border: none;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    
}

.searchbutdec:active {
    color: #5995ce;
    background-color: white;

}

.searchbardec {
    background-color: gray;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px 0px 0px 20px;
}

.searchbardec::placeholder {
    color: rgb(213, 213, 213);
}

/* quitar text decoration */
.notextdec {
    text-decoration: none;
}

    /*CODIGO PARA LAS TARJETAS*/
.card {
    height: 512px;
    box-shadow: inset 1px 1px 100px 10px #5995ce ,inset -1px -1px 100px 10px #5995ce;
    display: flex;
    justify-content: center;

}

.insidecard {
    border: 1px solid black;
    width: 70%;
}

/* modelo de grid */
.gridcard {
    display: grid;
    grid-template-areas: 
                'a a a'
                'b b c'
                'b b c';
    gap: 10px;
}

.gridhabilitys {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
}

.titulo {
    grid-area: a;
}

.presentacion {
    grid-area: b;
}

.imgclase {
    grid-area: c;
}

/* imagen de personaje */
.imgclase img {
    width: 300px;
}

/* background presentacion */
.bpresen {
    background-color: rgb(51, 51, 54);
    box-shadow: inset 1px 1px 50px 10px rgb(43, 43, 43) ,inset -1px -1px 50px 10px rgb(43, 43, 43);
    border-radius: 20px;
}

/*tamaño de las letras*/
.descsize {
    font-family: Cambria;
    color: white;
    font-size: 1.25em;
}

/* backgrounds de las cards */
.bgsize {
    background-position: center;
    background-size: 100% auto; /* 100 auto pantalla grande -- auto 100 pantalla pequeña */
    background-repeat: no-repeat;
}

@media (width < 576px) {
    
    .card {
        height: auto;
    }

    .insidecard {
        padding-top: 20px;
        width: 100%;
        padding-bottom: 20px;
    }

    .gridcard {
        display: grid;
        grid-template-areas: 
                    'a'
                    'c'
                    'b';
    }
    
    .bgsize {
        background-size: auto 100%;
    }
}

@media (576px <= width < 768px) {

    .card {
        height: auto;
    }

    .insidecard {
        padding-top: 20px;
        width: 100%;
        padding-bottom: 20px;
    }

    .gridcard {
        display: grid;
        grid-template-areas: 
                    'a'
                    'c'
                    'b';
    }

    .bgsize {
        background-size: auto 100%;
    }  
}

@media (768px <= width < 985px) {

    .gridcard {
        display: grid;
        grid-template-areas: 
                    'a'
                    'c'
                    'b';
    }
    .card {
        height: auto;
    }

    .insidecard {
        padding-top: 20px;
        width: 80%;
        padding-bottom: 20px;
    }

    .bgsize {
        background-size: auto 100%;
    }  
}


.alamingo {
    background-image: url(../img/alamingo.jpg);
}

.alamingocas {
    background-image: url(../img/alamingocastle.png);
}

.azisteppe {
    background-image: url(../img/Azim_Steppe.webp);
}

.limsalominsa {
    background-image: url(../img/Limsa_Lominsa.webp);
}

.mordhona {
    background-image: url(../img/Mor_Dhona_ARR_03.webp);
}

.gridania {
    background-image: url(../img/gridania.png);
}