body {
    margin: 0;
}


@font-face {

    font-family: antonio;
    
    src: url(../fonts/Antonio-VariableFont_wght.ttf);
    
}

.nomargin {
    margin: 0;
}

/* border radius 50% */
.b50per {
    border-radius: 50%;
}

/* enlaces sin boton */
.cWhite {
    color: white;
    font-family: antonio;
    text-decoration: none;
}

.cWhite:active {
    color: #5995ce;
}

/* texto azul atherite */
.cblue {
    font-family: antonio;
    font-size: 3em;
    color: #5995ce;
}

/* cambia el fondo a gris */
.cgrey {
    background-color: rgb(38, 38, 41);
}

/* aplica padding de 20px */
.p20px {
    padding: 20px;
}

.p10px {
    padding: 10px;
}

.p5px {
    padding: 5px;
}

/* aplica paddin 0*/
.p0px{
    padding: 0;
}

/*quita los puntos a los elementos de una lista*/
.nolistdec{
    list-style: none;
}

/*coloca los elemento intentando alejarlos lo maximo posible*/
.opposite {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

/*posiciona los elementos en linea con una separacion de 20px*/
.flexl{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.flexlgap5px{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
}

.flexlnowrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.flexsolo {
    display: flex;
}

/* gap 20px */
.g20px {
    gap: 20px;
}

.g10px {
    gap: 10px;
}

/* flex warp */
.wrap {
    flex-wrap: wrap;
}


/* decoracion para la barra de busqueda */
.searchbutdec {
    background-color: #5995ce;
    color: white;
    border: none;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    
}

.searchbutdec:active {
    color: #5995ce;
    background-color: white;

}

.searchbardec {
    background-color: gray;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 20px 0px 0px 20px;
}

.searchbardec::placeholder {
    color: rgb(213, 213, 213);
}

/* quitar text decoration */
.notextdec {
    text-decoration: none;
}