body {
    margin: 0;
}


@font-face {

    font-family: antonio;
    
    src: url(../fonts/Antonio-VariableFont_wght.ttf);
    
}

.nomargin {
    margin: 0;
}

/* enlaces sin boton */
.cWhite {
    color: white;
    font-family: antonio;
    text-decoration: none;
}

.cWhite:active {
    color: #5995ce;
}

/* texto azul atherite */
.cblue {
    font-family: antonio;
    font-size: 3em;
    color: #5995ce;
}

/* cambia el fondo a gris */
.cgrey {
    background-color: rgb(38, 38, 41);
}

/* aplica padding de 20px */
.p20px {
    padding: 20px 20px 20px 20px;
}

/* aplica paddin 0*/
.p0px{
    padding: 0;
}

/*quita los puntos a los elementos de una lista*/
.nolistdec{
    list-style: none;
}

/*coloca los elemento intentando alejarlos lo maximo posible*/
.opposite {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

}

/*posiciona los elementos en linea con una separacion de 20px*/
.flexl{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.flexlnowrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}


/*  */