body {
    margin: 0;
}

.noMargin {
    margin: 0;
    
}

.ptod20 {
    padding-top: 20px;
}

.textder {
    text-align: right;
}

.center {
    margin: 0 auto;
    width: 70%;
}

.centerFlex {
    display: flex;
    justify-content: center;
}

.textCenter {
    text-align: center;
}

/* cambia fuente a arial*/
.fArial {
    font-family: Arial;
}
/*cambia el texto para darle formato de logo*/
.fLogo {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

/*texto resaltado*/
.textresaltado{
    color: rgb(56, 91, 186);
    font-weight: bold;
    font-size: 20px;
}
/*cambia el boton para hacerlo banco y de color de fondo azul*/
.bBlanco {
    border: 3px solid white;
    border-radius: 10px;
    background-color: rgb(56, 91, 186);
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 15px 5px 15px;
}

.bBlanco:active {
    background-color: white;
    color: rgb(56, 91, 186);
}

/*cambia el boton para hacerlo negro con fondo amarillo*/
.bnegro {
    border: 3px solid white;
    border-radius: 10px;
    background-color: rgb(236, 194, 67);
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 15px;
    padding: 5px 15px 5px 15px;
}

.bnegro:active {
    background-color: rgb(0, 0, 0);
    color: rgb(236, 194, 67);
}

/**/
.tableBlue {
    border: 3px solid rgb(56, 91, 186);
    border-collapse: collapse;
    
}

.tableBlue tr {
    border-bottom: 3px solid rgb(56, 91, 186);
}

.tableBlue td {
    padding: 5px 15px 5px 15px;
}

.tableBlue th {
    border-right: 3px solid rgb(56, 91, 186);
    padding: 5px 15px 5px 15px;
}



/*coloca los elemento intentando alejarlos lo maximo posible*/
.opposite {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* cambia el fondo a azul */
.cyellow {
    background-color: rgb(236, 194, 67);
}

/* pading the 10px arriba y abajo y 20px en los laterales */
.p10 {
    padding: 10px 20px 10px 20px;
}

/*posiciona los elementos en linea con una separacion de 20px*/
.flexl{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}